<div class="alert alert-dismissible alert-danger">
  <strong>Appointment System</strong>
</div>
<button *ngIf="!showNewAppointmentForm" (click)="onAddNewAppointment()">NEW</button>

<app-new-appointment *ngIf="showNewAppointmentForm" (cancelAddingAppointment)="onCancelAddingAppointment()" (appointmentAdded)="onAppointmentAdded($event)">
</app-new-appointment>

<div>
  <input placeholder="search the description" [(ngModel)]="keyword">
  <button (click)="onSearch()">SEARCH</button>
</div>

<table class="table table-striped table-hover" border="1">
  <tr>
    <th> Appointment Date </th>
    <th> Description </th>
    <th> CANCEL </th>
  </tr>
  <tr *ngFor="let appointment of appointmentList">
    <td *ngIf="descriptionContainsKeyword(appointment.description)">
      {{ appointment.dateTime }}
    </td>
    <td *ngIf="descriptionContainsKeyword(appointment.description)">
      {{ appointment.description }}
    </td>
    <td *ngIf="descriptionContainsKeyword(appointment.description)">
      <button (click)="onCancelAppointment(appointment.description)"> CANCEL </button>
    </td>

  </tr>
</table>
